* {
	font-family: Kalimati, Verdana, 'Lucida Grande', sans-serif;
	color: #666;
	line-height: 1.76;
}

.features {
    border: solid 1px #ccc;
	margin-top: 35px;
    padding: 0px 200px 55px 30px;
	max-width: 376px;
	font-size: 1em;
}
.mug-png {
	margin-top: 20px;
    height: 376px;
}

.mainText {
    margin-top: 40px;
    font-weight: lighter;
	font-size: 1em;
}
.header {
	margin-top: 45px;
    margin-bottom: 10px;
	font-size: 3.5em;
}
.subheader {
	color: #f07c17;
}